---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";

const images = await Astro.glob("/src/assets/images/galleri/*").then((files) => {
  return files.map((file) => file.default);
});
---

<MainLayout title="Københavner billeder">
  <article class="w-full px-5 md:px-0">
    <div class="w-full px-5 py-20 color-change-2x md:px-0">
      <section id="herounit" class="flex flex-col gap-2 md:grid md:mx-auto max-w-7xl w-full grid-cols-3 md:gap-5">
        <div class="herounitimage col-start-1 col-end-3">
          <img src="/src/assets/images/cover.webp" alt="kobenhavner billeder bog cover" class="w-[820px] h-[500px] object-cover rounded-lg" />
        </div>
        <div class="herotitle">
          <h1 class="text-7xl font-bold font-garamond pb-6 text-herounit break-words text-focus-in hover:text-rose-700">Københavner billeder</h1>
          <p class="pb-6 text-xl">En guide til hipster foto af Sten Simons</p>
          <div class="animate__animated animate__pulse">
            <Button variant="secondary" size="small"><a href="#kapitler">Læs mere</a> </Button>
          </div>
        </div>
      </section>
    </div>

    <section class="flex flex-col gap-2 py-10 md:grid grid-cols-2 md:gap-10 justify-center mx-auto max-w-5xl ombogen">
      <div class="text-left md:text-right">
        <h2 class="font-bold">Kort om bogen</h2>
        <p class="">Københavnerbilleder er de danske streetfotografers bibel: <br /> Det er en fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God læselyst!</p>
      </div>
      <div>
        <h2 class="font-bold">Stamdata for bogen</h2>
        <p>Titel: Københavnerbilleder <span class="font-bold text-gray-400">| </span>Forfatter: Sten Simons <br /> En guide til hipster foto <span class="font-bold text-gray-400">| </span>Antal sider: 344 <br />Forlag: Mellem Linjerne <br />ISBN: 987-6-987654-32-1 <br />Pris: 399.- kr.</p>
      </div>
    </section>

    <section class="flex flex-col md:grid md:grid-cols-3 gap-4 pb-10 text-center mx-auto max-w-5xl bookimages">
      <div class="flex flex-col items-center animate__animated animate__flipInX animate__delay-1s">
        <img src="/src/assets/images/oppefra.webp" alt="book" />
      </div>
      <div class="flex flex-col items-center animate__animated animate__flipInX animate__delay-2s">
        <img src="/src/assets/images/openbook.webp" alt="book" />
      </div>
      <div class="flex flex-col items-center animate__animated animate__flipInX animate__delay-3s">
        <img src="/src/assets/images/cover.webp " alt="book" />
      </div>
    </section>

    <section id="kapitler" class="flex flex-col gap-4 pb-10 mx-auto max-w-5xl">
      <h2 class="text-3xl font-bold pb-2 text-herounit">Bogens kapitler</h2>
      <article class="flex flex-col md:grid grid-cols-2 mx-auto max-w-6xl md:gap-10">
        <div class="kapitalerLeft">
          <div>
            <p><span class="font-bold">Kapitel 1</span><br />Intro til street foto Hvad er street foto? Det handler i bund og grund om at skyde byens liv og byens geometri (urban geometry). I dette kapitel får du en grundig intro til hvad street foto er og et overblik over nogen af de kendte street-fotografer. Alt krydret med en masse gode eksempler på street fotos.</p>
          </div>
          <div><p><span class="font-bold">Kapitel 2</span><br /> Om at skyde street Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på gaderne og prøve det! I dette kapitel får du en teknisk indføring i hvordan du bedst skyder street. Uanset om du er begynder eller professionel, er der mange gode tekniske tips og tricks til street-skyderiet.</p></div>
          <div>
            <p><span class="font-bold">Kapitel 3</span><br /> Om at finde det rette motiv Indimellem er man heldig, andre gange kommer man hjem helt uden gode motiver. Med et par tips og tricks til at finde de rette motiver, stiger chancen gevaldigt for at fange de gode motiver.</p>
          </div>

          <div>
            <p><span class="font-bold">Kapitel 4</span><br />Digital street foto De fleste af os skyder oftest digitalt fordi det er billigere og nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til digital street foto. I dette kapitel får du en række tips og tricks til digital street-foto.</p>
          </div>
        </div>

        <div class="flex flex-col kapitalerRight">
          <div>
            <p><span class="font-bold md:col-start-2 md:col-end-3">Kapitel 5</span><br />Analog street foto Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end digital. Det signalerer entusiasme. Nogle teknikker og fremgangsmåder egner sig bedst til analog street foto. I dette kapitel får du en række tips og tricks til analog street-foto.</p>
          </div>
          <div>
            <p><span class="font-bold md:col-start-2 md:col-end-3">Kapitel 6</span><br /> Om at skyde sort/hvid Alle street-fotografer skyder sort/hvid nu og da. Nogen altid. Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad adskiller sort/hvid fra farvefotografering? Her får du en række tips og tricks til sort/hvid fotografering.</p>
          </div>
          <div>
            <p><span class="font-bold">Kapitel 7</span><br /> Kreative teknikker Dobbelteksponeringer, ICM (intentional camera moves), smadrede objektiver, gamle filmruller og alle mulige andre, spændende kreative teknikker kan løfte dine fotografier fra at være kedelige dokumentationer af hverdagen til at blive vilde kunststykker. Så dyk ned i dette kapitel om eksperimenterende teknikker!</p>
          </div>
          <div>
            <p><span class="font-bold">Kapitel 8</span><br />Kom helt tæt på! Street foto handler om at fotografere livet på gaden - men tør du at gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så godt øve dig, for det er det der vil gøre dig til en bedre street-fotograf…</p>
            <div class="pt-4 mx-auto md:col-start-2 md:col-end-3 md: flex justify-end">
              <Button variant="secondary" size="small"> Download et prøvekapital </Button>
            </div>
          </div>
        </div>
      </article>
    </section>
    <section class="rounded-2xl bg-zinc-300/40 pt-6 w-full p-4">
      <div class="mx-auto max-w-5xl anmeldelser">
        <h2 class="text-3xl font-bold pb-4 text-herounit">Anmeldelser af bogen</h2>
        <div class="flex flex-col pb-10 gap-4 md:grid grid-cols-3 mx-auto max-w-6xl md:gap-10 anmeldelser">
          <div class="animate__animated animate__fadeInUp animate__delay-1s">
            <span>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-regular text-herounit fa-star"></i>
            </span>
            <div>Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen. <br />- Hanne Hovgaard, Berlingeren</div>
          </div>
          <div class="animate__animated animate__fadeInUp animate__delay-2s">
            <span>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-regular fa-star text-herounit"></i>
            </span>
            <div>Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal man sige om en fotobog? <br />- Kim Kloggaard, Fotojournalen.dk</div>
          </div>
          <div class="animate__animated animate__fadeInUp animate__delay-3s">
            <span>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
              <i class="fa-solid fa-star text-herounit"></i>
            </span>
            <div>Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste - her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.” Tillykke - godt arbejde. <br />- Volmer Hansen, Lukkertiden.dk</div>
          </div>
        </div>
      </div>
    </section>

    <section class="flex flex-col mx-auto py-10 max-w-5xl gallery">
      <div><h2 class="font-bold text-3xl pb-4 max-w-5xl">Boggalleri</h2></div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-auto max-w-5xl">
        {
          images.map(({ src }) => (
            <div class="">
              <img src={src} class="w-full h-60 object-cover " alt="" loading="lazy" />
            </div>
          ))
        }
      </div>
    </section>
    <section class="flex flex-col gap-4 mx-auto max-w-5xl pb-10" id="forfatteren">
      <h2 class="font-bold text-3xl text-herounit">Forfatteren</h2>
      <div class="flex flex-col gap-4 pb-10 md:grid grid-cols-2 mx-auto max-w-6xl md:gap-10">
        <div class="forfatteren">
          <img src="/src/assets/images/sten_simons.webp" alt="forfatteren" class="w-full h-96 object-cover blink-1" />
        </div>
        <div class="omforfatter">
          <p>Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens forfald. Det ledte til en række udstillinger, og blev senere til hans først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.” Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende begyndte han at undervise i foto, og har skrevet et utal af bøger, herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse, og lærebogen Fotografering for evnesvage.</p>
        </div>
      </div>
    </section>
    <section id="form">
      <div>
        <div class="border-t-2"></div>
        <form class="flex flex-col w-2/3 md:grid grid-col-2 max-w-md mx-auto">
          <h1 class="font-bold pt-10 pb-4 text-3xl text-rose-700">Køb Københavner billeder nu!</h1>

          <div class="flex flex-col py-1 text-slate-800">
            <label for="antal" class="pr-2 pb-1">Antal:</label>
            <input type="number" id="antal" name="antal" placeholder="1" class="pointer-events-auto bg-gray-200/80 rounded-md border-none" />
          </div>

          <div class="flex flex-wrap py-1">
            <span class="text-slate-800">Levering:</span>
            <div class="flex flex-wrap gap-4 pl-4">
              <div class="flex flex-cols items-center gap-2">
                <input type="radio" id="postnord" name="levering" value="postnord" checked />
                <label for="postnord" class="text-slate-600">PostNord</label>
              </div>
              <div class="flex flex-cols items-center gap-2">
                <input type="radio" id="postnord" name="levering" value="postnord" />
                <label for="afhentselv" class="text-slate-600">Afhent Selv</label>
              </div>
            </div>
          </div>

          <div class="flex flex-col py-1">
            <label for="navn" class="pr-1 pb-1">Navn:</label>
            <input type="text" id="navn" name="navn" value="" class="w-auto bg-gray-200/80 text-slate-600 rounded-md border-none" />
          </div>
          <div class="flex flex-col py-1">
            <label for="email" class="pb-1">E-mail:</label>
            <input type="text" id="email" name="email" value="" class="w-auto bg-gray-200/80 text-slate-600 rounded-md border-none" />
          </div>
          <div class="flex flex-col py-1">
            <label for="adresse" class="pb-1">Adresse:</label>
            <input type="text" id="adresse" name="adresse" value="" class="w-auto bg-gray-200/80 text-slate-600 rounded-md border-none" />
          </div>
          <div class="flex flex-col md:flex-row py-2 gap-2">
            <div class="flex-1">
              <label for="postnummer&by" class="block pb-1 text-slate-800">By</label>
              <input type="text" id="postnummer&by" name="postnr&by" value="" class="w-full bg-gray-200/80 text-slate-600 rounded-md border-none" />
            </div>
            <div class="flex-1">
              <label for="postnummer&by" class="block pb-1 text-slate-800">Postnummer</label>
              <input type="text" id="postnummer&by" name="postnr&by" value="" class="w-full bg-gray-200/80 text-slate-600 rounded-md border-none" />
            </div>
          </div>

          <div class="flex flex-col py-1">
            <label for="telefon" class="pb-1">Telefon:</label>
            <input type="text" id="telefon" name="telefon" value="555-555" class="w-auto bg-gray-200/80 text-slate-600 rounded-md border-none" />
          </div>
          <div class="py-4">
            <input type="checkbox" class="accent-blue-500" />
            <label for="betalning" class="text-slate-600">Ja tak til nyhedsbrev og tilbud</label>
          </div>
          <div class="flex gap-4 justify-end animate-pulse">
            <Link href="#" target="_blank" variant="primary" size="medium">Til betaling </Link>
          </div>
        </form>
      </div>
    </section>
  </article>
</MainLayout>

<script>
  import { inView } from "motion";
  const herounitimage = document.querySelector(".herounitimage");
  inView(herounitimage, ({ target }) => {
    target.classList.add("animate__animated", "animate__bounceInLeft", "fadeInOpacity");
  });

  const herotitle = document.querySelector(".herotitle");
  inView(herotitle, ({ target }) => {
    target.classList.add("animate__animated", "animate__bounceInRight", "fadeInOpacity");
  });

  const ombogenfadein = document.querySelector(".ombogen");
  inView(ombogenfadein, ({ target }) => {
    target.classList.add("animate__animated", "animate__fadeInUp", "fadeInOpacity");
  });

  const bookimages = document.querySelector(".bookimages");
  inView(bookimages, ({ target }) => {
    target.classList.add("animate__animated", "animate__flipInX", "fadeInOpacity");
  });

  const kapitalerLeft = document.querySelector(".kapitalerLeft");
  inView(kapitalerLeft, ({ target }) => {
    target.classList.add("animate__animated", "animate__fadeInLeft", "fadeInOpacity");
  });
  const kapitalerRight = document.querySelector(".kapitalerRight");
  inView(kapitalerRight, ({ target }) => {
    target.classList.add("animate__animated", "animate__fadeInRight", "fadeInOpacity");
  });

  const anmeldelser = document.querySelector(".anmeldelser");
  inView(anmeldelser, ({ target }) => {
    target.classList.add("animate__animated", "animate__fadeInUp", "fadeInOpacity");
  });

  const forfatteren = document.querySelector(".forfatteren");
  inView(forfatteren, ({ target }) => {
    target.classList.add("animate__animated", "animate__fadeInLeft", "fadeInOpacity");
  });

  const omforfatter = document.querySelector(".omforfatter");
  inView(omforfatter, ({ target }) => {
    target.classList.add("animate__animated", "animate__fadeInRight", "fadeInOpacity");
  });

  import { animate, scroll } from "motion";

  document.querySelectorAll(".gallery > div").forEach((item) => {
    scroll(animate(item, { opacity: [0, 1, 1, 1] }), {
      target: item,
      offset: ["start end", "end end", "start start", "end start"],
    });
  });
</script>
